
<div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
       multiTemplateDataRows
       matSort (matSortChange)="announceSortChange($event)"
       matSortActive="effectiveDateTime" matSortDirection="desc">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let observation"> {{observation.id}} </td>
  </ng-container>

  <ng-container matColumnDef="effectiveDateTime">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let observation">
      <span *ngIf="observation.effectiveDateTime != undefined">{{observation.effectiveDateTime | date: 'dd-MMM-yyyy HH:mm'}} </span>
      <span *ngIf="observation.effectivePeriod != undefined">{{observation.effectivePeriod.start | date: 'dd-MMM-yyyy HH:mm'}} - {{observation.effectivePeriod.end | date: 'dd-MMM-yyyy HH:mm'}} </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let observation"> {{observation.status}} </td>
  </ng-container>


  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Value </th>
    <td mat-cell *matCellDef="let observation">

        <span *ngIf="observation.valueCodeableConcept !== undefined; else templateRef">
            <span *ngFor="let coding of observation.valueCodeableConcept.coding">
              {{coding.display}}
              <app-clinical-coding [setCode]="coding"></app-clinical-coding>
        </span>
        </span>
        <ng-template #templateRef>
          <span [innerHTML]="getValue(observation)"></span>
        </ng-template>

       </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Question/Observation
    <div>
        <mat-form-field *ngIf="showFilter" >
            <mat-label>Filter</mat-label>
            <input matInput class="example-form-field" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
    </div>
    </th>
    <td mat-cell *matCellDef="let observation">
      <span *ngIf="observation.code !== undefined && observation.code.coding !== undefined">

         <app-clinical-concept [setConcept]="observation.code"></app-clinical-concept>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef> Tags </th>
    <td mat-cell *matCellDef="let observation">
      <mat-chip-listbox *ngIf="observation.extension !== undefined">
        <mat-chip *ngFor="let extension of observation.extension">{{getTag(extension)}}</mat-chip>
      </mat-chip-listbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let observation">
        <span *ngIf="observation.category !== undefined">
          <app-clinical-concept [setConcepts]="observation.category"></app-clinical-concept>
      </span> </td>
  </ng-container>

  <ng-container matColumnDef="performer">
    <th mat-header-cell *matHeaderCellDef width="5%"></th>
    <td mat-cell *matCellDef="let observation">
        <span *ngIf="observation.performer !=undefined">
            <span [innerHTML]="fhirService.getReferences(observation.performer)"></span>
        </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="resource">
    <th mat-header-cell *matHeaderCellDef style="min-width: 40px;"></th>

    <td mat-cell *matCellDef="let observation">
        <button mat-icon-button color="primary"  (click)="selectChart(observation)"><mat-icon>insert_chart</mat-icon></button>
         <span *ngIf="environment.addDataSupport">
             <button mat-icon-button color="accent" matTooltip="Delete" (click)="delete(observation)"><mat-icon>delete</mat-icon></button>
         </span>
      <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(observation)"><mat-icon>fireplace</mat-icon></button>
    </td>
  </ng-container>


    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef style="min-width: 40px;" aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="hasExpand(element)">
                <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                <app-observation-expand [observation]="element"></app-observation-expand>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="this.expandedElement = this.expandedElement === element ? null : element">
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
    </tr>

</table>
 <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
