table {
    width: 100%;
    box-shadow: none;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 2;
}

.example-element-detail {
    overflow: hidden;
    width: 100%;

}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
