<td-layout class="layout-nav-demo" sidenavWidth="280px">

    <td-layout-nav-list navigationRoute="/" [opened]=false mode="side">


        <div td-toolbar-content layout-align="space-between center" flex>
            <div
                    flex
                    flex-order-xs="2"
                    layout="row"
                    layout-align="center center"
            >
            Test Portal (NHS NW Genomics)
          <span flex>
              &nbsp;
          </span>
                <span flex>
                <td-dynamic-menu
                        [trigger]="triggerPatient"
                        [items]="itemsPatient"
                        (itemClicked)="reportClick($event)"
                ></td-dynamic-menu>
                <span *ngIf="patientId!== undefined">
                        <td-dynamic-menu
                                [trigger]="triggerCare"
                                [items]="itemsCare"
                                (itemClicked)="reportClick($event)"
                        ></td-dynamic-menu>
                    <!--
                <td-dynamic-menu
                        [trigger]="triggerSmartApps"
                        [items]="itemsSmartApps"
                        (itemClicked)="reportClick($event)"
                ></td-dynamic-menu> -->
                    <!--
                    <button mat-button routerLink="/patient/{{patientId}}/device"><mat-icon>app_shortcut</mat-icon> Health Device</button>
                    -->
                </span>
                <!--
                <td-dynamic-menu
                        [trigger]="triggerApps"
                        [items]="itemsApps"
                        (itemClicked)="reportClick($event)"
                ></td-dynamic-menu>
                <button mat-icon-button routerLink="/about"><mat-icon>help</mat-icon></button>
                -->
               <!-- <td-dynamic-menu
                        [trigger]="triggerAccount"
                        [items]="itemsAccount"
                        (itemClicked)="reportClick($event)"
                ></td-dynamic-menu> -->
                </span>
            </div>
        </div>
        <router-outlet></router-outlet>
    </td-layout-nav-list>
</td-layout>
