<mat-card class="fullscreen scrollable-content" >

    <span *ngIf="environment.hintsSupport">
        <td-markdown>{{ basicFlavoredMarkdown }}</td-markdown>
    </span>
    <div *tdLoading="  'overlayStarSyntax'; mode: loadingMode.Indeterminate; type: loadingType.Circular;  strategy: loadingStrategy.Overlay;  color: 'accent'">
        <mat-card-content>
        <td-breadcrumbs>
            <a td-breadcrumb [routerLink]="['/patient', patientId]">Patient</a>
            <td-breadcrumb>Summary Record</td-breadcrumb>
        </td-breadcrumbs>
        </mat-card-content>
        <!--
        <mat-expansion-panel expanded="true" [togglePosition]="'before'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Last 5 Encounters</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngIf="encounters.length>0">
            <app-encounter [encounters]="encounters"> </app-encounter>
             </span>
            <span *ngIf="encounters.length==0">
             No encounters found.
         </span>
        </mat-expansion-panel>
        -->

        <!--
        <mat-expansion-panel expanded="true" [togglePosition]="'before'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Problems</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngIf="conditions.length>0">
                <app-condition [conditions]="conditions"> </app-condition>
             </span>
            <span *ngIf="conditions.length==0">
                 No problems found.
             </span>
        </mat-expansion-panel>
        -->

        <!--
        <mat-expansion-panel expanded="true" [togglePosition]="'before'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Allergies</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngIf="allergies.length>0">
                <app-allergy-intolerance [allergies]="allergies"> </app-allergy-intolerance>
             </span>
            <span *ngIf="allergies.length==0">
             No allergies found.
         </span>
        </mat-expansion-panel>
        -->
        <mat-expansion-panel expanded="true" [togglePosition]="'before'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Results</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngIf="results.length>0">
                    <app-diagnostic-report [diagnosticReports]="results" > </app-diagnostic-report>
                 </span>
            <span *ngIf="results.length==0">
                 No results found.
                </span>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="true" [togglePosition]="'before'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Documents</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngIf="documents.length>0">
                      <app-document-reference [documents]="documents"> </app-document-reference>
                       </span>
            <span *ngIf="documents.length==0">
                       No results found.
                   </span>
        </mat-expansion-panel>
        <!--
        <mat-expansion-panel expanded="true" [togglePosition]="'before'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Medication</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngIf="environment.addDataSupport">
                <div *ngIf="nhsNumber !== undefined" class="list-horizontal">
                        <button mat-stroked-button color="accent"  (click)="addMedication()">Add Medication Request</button>
                </div>
            </span>
            <span *ngIf="medicationRequests.length>0">
               <app-medication-request [medicationRequests]="medicationRequests"> </app-medication-request>
                 </span>
            <span *ngIf="medicationRequests.length==0">
                 No medications found.
             </span>
        </mat-expansion-panel>
        -->

        <!--
        <mat-expansion-panel expanded="true" [togglePosition]="'before'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Vaccinations</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngIf="immunisations.length>0">
                    <app-immunisation [immunisations]="immunisations"  > </app-immunisation>
                 </span>
            <span *ngIf="immunisations.length==0">
                 No immunisations found.
                </span>
        </mat-expansion-panel>
        -->

        <mat-expansion-panel expanded="true" [togglePosition]="'before'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Referrals and Interventions</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngIf="requests.length>0">
                      <app-referral-request [referrals]="requests"> </app-referral-request>
                       </span>
            <span *ngIf="requests.length==0">
                       No results found.
                   </span>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="true" [togglePosition]="'before'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Procedures</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngIf="procedures.length>0">
                    <app-procedure [procedures]="procedures" > </app-procedure>
                 </span>
            <span *ngIf="procedures.length==0">
                 No procedures found.
                </span>
        </mat-expansion-panel>


    </div>
</mat-card>




